/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.name {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  line-height: 94px;
  padding-bottom: 17px;
  border-bottom: 2px solid #000;
  margin-bottom: 48px;
}

.portrait {
  display: block;
  height: 324px;
}

.topic {
  padding-top: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}

.topic_ch {
  font-family: "Noto Sans", sans-serif;
  display: inline-block;
  font-size: 32px;
  line-height: 45px;
  vertical-align: middle;
  margin: 0 6px;
}

.topic_en {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  color: #a00404;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  vertical-align: middle;
  margin: 0 10px;
}

.information {
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

.skillList {
  width: fit-content;
  padding: 0 24px;
  margin: 0 auto;
  border-left: 1px solid #96a9c4;
}

.skillList_font {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  color: white;
}

.container {
  padding-top: 47px;
}

.profiles {
  width: 1200px;
  margin: 0 auto;
}

.skills {
  background-color: #415165;
}
.skills .skills-container {
  width: 52%;
  padding-bottom: 36px;
  margin: 0 auto;
}
.skills .topic--modify {
  text-align: center;
  border-color: white !important;
  margin-bottom: 40px;
}
.skills .topic_ch--modify,
.skills .topic_en--modify {
  display: inline;
  color: white;
  font-weight: 600;
}