$profile-width: 1200px / 1920px * 100%;
$skill-width: 996px/1920px * 100%;

.container {
  padding-top: 47px;
}

.profiles {
  width: $profile-width;
  margin: 0 auto;
}

.skills {
  background-color: #415165;

  .skills_container {
    width: $skill-width;
    padding-bottom: 36px;
    margin: 0 auto;
  }
}

.experiences {
  width: $profile-width;
  padding: 72px 0;
  margin: 0 auto;

  img {
    display: block;
  }
}

.footer {
  background-color: #415165;

  .footer_container {
    width: $profile-width;
    padding: 24px 0;
    margin: 0 auto;
    text-align: center;
  }
}
