.skillList {
  width: fit-content;
  padding: 0 24px;
  margin: 0 auto;
  border-left: 1px solid #96a9c4;
}

.skillList_font {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  color: white;
}
