.topic {
  padding-top: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}

.topic--modify {
  text-align: center;
  border-color: white !important;
  margin-bottom: 40px;
}

.topic_ch {
  font-family: "Noto Sans", sans-serif;
  display: inline-block;
  font-size: 32px;
  line-height: 45px;
  vertical-align: middle;
  margin: 0 6px;
}

.topic_en {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  color: #a00404;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  vertical-align: middle;
  margin: 0 10px;
}

.topic_ch--modify,
.topic_en--modify {
  display: inline;
  color: white;
  font-weight: 600;
}
