.container {
  padding-top: 47px;
}

.profiles {
  width: 1200px;
  margin: 0 auto;
}

.skills {
  background-color: #415165;

  .skills-container {
    width: 996px;
    padding-bottom: 36px;
    margin: 0 auto;
  }

  .topic--modify {
    text-align: center;
    border-color: white !important;
    margin-bottom: 40px;
  }

  .topic_ch--modify,
  .topic_en--modify {
    display: inline;
    color: white;
    font-weight: 600;
  }
}

.experiences {
  width: 1200px;
  padding: 72px 0;
  margin: 0 auto;

  img {
    display: block;
  }
}
